{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Omni bank Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static "omni_bnk/css/bootstrap.min.css" %}" >
    <link rel="stylesheet" href="{% static "omni_bnk/css/dashboard.css" %}" >

  </head>


  <body class="text-center">
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            
            <a class="navbar-brand" href="/">Welcome: {{ user.get_username }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav px-3" >
                <li class="nav-item text-nowrap">
                  <a class="nav-link" href="{% url 'omni_bnk:dashboard' %}">Home</a>
                </li>
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="{% url 'omni_bnk:add_movie' %}">Add a movie</a>
                </li>
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="{% url 'omni_bnk:sign_out' %}">Sign out</a>
                </li>
            </ul>
        </nav>
    </header>
    {% block main %}
    {% endblock %}

    {% block footer_scripts %}
    {% endblock %}
  </body>
</html>